{# empty Twig template #}
{% extends './App/base.html.twig' %}
{% block body %}  
    <body id="container-page-product">
        {% include './App/navigator.html.twig' %}   
        <section id="store">
            <br>
            <div class="container">
                {% if message is defined %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endif %}
                <div class="page-header">
                    <h1>Genezi <small class="tittles-pages-logo">Shop</small></h1>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="store-links" class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#all-product" role="tab" data-toggle="tab" aria-controls="all-product" aria-expanded="false">Todos los productos</a></li>
                            <li role="presentation" class="dropdown active">
                                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Categorías <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                                    <!-- ==================== Lista categorias =============== -->
                                    {% for categoria in categorias %}                                        
                                        <li>
                                            <a href="#{{categoria.CodigoCat}}" tabindex="-1" role="tab" id="{{categoria.CodigoCat}}-tab" data-toggle="tab" aria-controls="{{categoria.CodigoCat}}" aria-expanded="false">{{categoria.Nombre|capitalize}}
                                            </a>
                                        </li>
                                    {% endfor %}                                    
                                    <!-- ==================== Fin lista categorias =============== -->
                                </ul>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="all-product" aria-labelledby="all-product-tab">
                                <br><br>
                                <div class="row">
                                    <div id="products"></div>                                   
                                </div>
                            </div><!-- Fin del contenedor de todos los productos -->

                            <!-- ==================== Contenedores de categorias =============== -->

                            {% if productos is empty %}
                                <h2>No hay productos en esta categoria</h2>
                            {% else %}                                                       
                                {% for categoria in categorias %}                                        
                                    <div role="tabpanel" class="tab-pane fade active in" id="{{categoria.CodigoCat}}" aria-labelledby="{{categoria.CodigoCat}}-tab"><br>
                                        {% set count = 0 %} 
                                        {% for producto in productos %}                                            
                                            {% if categoria.CodigoCat == producto.idcategoria.codigocat %}
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <div class="thumbnail">
                                                        {% set images = producto.Imagen|split(';') %}
                                                        <img class="imgSize productImg" data-img="{{ producto.CodigoProd }}" data-toggle="modal" data-target=".modal-detail" src="{{ absolute_url(asset('assets/img-products/'~producto.codigoprod~'/'~images[0])) }}">
                                                        <div class="caption">
                                                            <h3>{{ producto.nombreprod }}</h3>
                                                            <p>{{ producto.marca }}</p>  
                                                            <p>Color: {{ producto.color|capitalize }}</p>
                                                            {% if producto.inpromo is not empty and producto.inpromo > 0 %}
                                                            {% else %}
                                                                <p>COP {{ producto.precio|number_format(0, '.', ',') }}</p>
                                                            {% endif %}                                                            
                                                            <p class="text-center">
                                                                <a href="{{ path('detail', { 'name' : encrypt(producto.codigoprod) }) }}" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i>&nbsp; Detalles</a>&nbsp;&nbsp;
                                                                <button value="{{ producto.CodigoProd }}" class="btn btn-success btn-sm botonCarrito"><i class="fa fa-shopping-cart"></i>&nbsp; Añadir</button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div> 
                                                {% set count = count + 1 %}
                                                {% if count is divisible by(filas) %}
                                                    <div class="clearfix"></div>
                                                {% endif %}  
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- ==================== Fin contenedores de categorias =============== -->                            
                        </div>
                    </div>
                </div>
        </section>
        {% include './App/footer.html.twig' %}                                     
        {% include 'General/general_modal.html.twig' %}
    </body>
{% endblock %}
