{# empty Twig template #}
<div role="tabpanel" class="tab-pane fade" id="Proveedores">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <br><br>
            <div id="add-provee">
                <h2 class="text-primary text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar un proveedor</h2>
                <form action="{{ path('create_provider') }}" method="post" role="form">
                    <div class="form-group">
                        <label>NIT</label>
                        <input class="form-control" type="text" name="prove-nit" placeholder="NIT proveedor" maxlength="30" required="">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" name="prove-name" placeholder="Nombre proveedor" maxlength="30" required="">
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input class="form-control" type="text" name="prove-dir" placeholder="Dirección proveedor" required="">
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input class="form-control" type="tel" name="prove-tel" placeholder="Número telefónico" pattern="[0-9]{1,20}" maxlength="20" required="">
                    </div>
                    <div class="form-group">
                        <label>Página web</label>
                        <input class="form-control" type="text" name="prove-web" placeholder="Página web proveedor" required="">
                    </div>
                    <p class="text-center"><button type="submit" class="btn btn-primary">Añadir proveedor</button></p>
                    <br>
                    <div id="res-form-add-prove" style="width: 100%; text-align: center; margin: 0;"></div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <br><br>
            <div id="del-prove">
                <h2 class="text-danger text-center"><small><i class="fa fa-trash-o"></i></small>&nbsp;&nbsp;Eliminar un proveedor</h2>
                <form action="process/delprove.php" method="post" role="form">
                    <div class="form-group">
                        <label>Proveedores</label>
                        <select class="form-control" name="nit-prove">
                            {% for proveedor in proveedores %}
                                <option value="{{ proveedor.Id }}">{{ proveedor.NombreProveedor }}</option>
                            {% endfor %}   
                        </select>
                    </div>
                    <p class="text-center"><button type="submit" class="btn btn-danger">Eliminar proveedor</button></p>
                    <br>
                    <div id="res-form-del-prove" style="width: 100%; text-align: center; margin: 0;"></div>
                </form>
            </div>    
        </div> 
        <div class="col-xs-12">
            <br><br>
            <div class="panel panel-info">
                <div class="panel-heading text-center"><i class="fa fa-refresh fa-2x"></i><h3>Actualizar datos de proveedor</h3></div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="">
                            <tr>
                                <th class="text-center">NIT</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Dirección</th>
                                <th class="text-center">Telefono</th>
                                <th class="text-center">Página web</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proveedor in proveedores %}
                            <div id="update-proveedor">
                                <form method="post" action="{{ path('create_provider') }}" id="res-update-prove-{{ loop.index }}">
                                    <tr>
                                        <td>
                                            <input class="form-control" type="hidden" name="prove-nit-old" required="" value="{{ proveedor.NitProveedor }}">
                                            <input readonly class="form-control" type="text" name="prove-nit" maxlength="30" required="" value="{{ proveedor.NitProveedor }}">
                                        </td>
                                        <td><input class="form-control" type="text" name="prove-name" maxlength="30" required="" value="{{ proveedor.NombreProveedor|capitalize }}"></td>
                                        <td><input class="form-control" type="text-area" name="prove-dir" required="" value="{{ proveedor.Direccion }}"></td>
                                        <td><input class="form-control" type="tel" name="prove-tel" required="" maxlength="20" value="{{ proveedor.Telefono }}"></td>
                                        <td><input class="form-control" type="text-area" name="prove-web" maxlength="30" required="" value="{{ proveedor.PaginaWeb }}"></td>
                                        <td class="text-center">
                                            <input name="prove-update" value="1" type="hidden">
                                            <button type="submit" class="btn btn-sm btn-primary button-UP" value="res-update-prove-{{ loop.index }}">Actualizar</button>
                                            <div id="res-update-prove-{{ loop.index }}" style="width: 100%; margin:0px; padding:0px;"></div>
                                        </td>
                                    </tr>
                                </form>
                            </div>
                        {% endfor %}                               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
