<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <link rel="apple-touch-icon" sizes="76x76" href="{{ absolute_url(asset('assets/img/logo.png')) }}" />
        <link rel="icon" type="image/png" href="{{ absolute_url(asset('assets/img/logo.png')) }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Genezi | Tecnologia Led{% endblock %}</title>
        <meta name="description" content="Encuentra productos para motos y vehiculos con precios competitivos y de alta calidad">
        <meta name="title" content="Genezi | genezi.com">
        <meta name="keywords" content="iluminacion, bombillos, led, luces, motos, carros"> 
        <meta name="theme-color" content="#ffffff">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />        
        {% block stylesheets %}
            <link href="{{ absolute_url(asset('assets/css/font-awesome.min.css')) }}" rel="stylesheet" />
            <link href="{{ absolute_url(asset('assets/css/normalize.css')) }}" rel="stylesheet" />
            <link href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}" rel="stylesheet" />
            <link href="{{ absolute_url(asset('assets/css/style.css')) }}" rel="stylesheet" />  
            <link href="{{ absolute_url(asset('assets/css/media.css')) }}" rel="stylesheet" />  
            <link href="{{ absolute_url(asset('assets/css/trumbowyg.css')) }}" rel="stylesheet" />  
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    
    <!-- Load Facebook SDK for JavaScript -->        
    {% block javascripts %}
        <script>
            window.fbAsyncInit = function() {
              FB.init({
                xfbml            : true,
                version          : 'v6.0'
              });
            };

            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script src="{{ absolute_url(asset('assets/js/jquery.min.js')) }}" type="text/javascript"></script>
        <script src="{{ absolute_url(asset('assets/js/jquery.validate.js')) }}" type="text/javascript"></script>
        <script src="{{ absolute_url(asset('assets/js/additional-methods.js')) }}" type="text/javascript"></script>
        <script src="{{ absolute_url(asset('assets/js/trumbowyg.js')) }}" type="text/javascript"></script>
        <script src="{{ absolute_url(asset('assets/js/trumbowyg.upload.js')) }}" type="text/javascript"></script> 
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        
        {% if app.environment != 'dev' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147220450-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-147220450-1');
            </script>
        {% endif %}
        
        {% if parameters['nosotros']['coordinates'] is defined and app.request.get('_route') == 'general_info' %}
            <script>                
                var coordinates = "{{ parameters['nosotros']['coordinates'] }}";
                var direccion = "{{ parameters['nosotros']['direccion'] }}";
                var telefono = "{{ parameters['nosotros']['telefono'] }}";
                var token = "{{ parameters['nosotros']['tokenMap'] }}";
                coordinates = coordinates.split(",");                
                // Initialize and add the map
                var mymap = L.map('mapid').setView([parseFloat(coordinates[0]), parseFloat(coordinates[1])], 16);
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token='+token, {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: token
                }).addTo(mymap);
                var marker = L.marker([parseFloat(coordinates[0]), parseFloat(coordinates[1])]).addTo(mymap);
                var popup = L.popup()
                .setLatLng([parseFloat(coordinates[0]), parseFloat(coordinates[1])])
                .setContent("Genezi Shop <br> "+direccion+" <br>"+telefono)
                .openOn(mymap);
            </script>
        {% endif %}
        
        <script>
                var baseUrl = '{{ absolute_url(asset('/')) }}';                
        </script>        
        {% if app.request.get('_route') == 'formulario' and deviceSessionId is defined %}
            <script type="text/javascript" src="https://maf.pagosonline.net/ws/fp/tags.js?id={{deviceSessionId}}80200"></script>
            <noscript>
                <iframe style="width: 100px; height: 100px; border: 0; position: absolute; top: -5000px;" src="https://maf.pagosonline.net/ws/fp/tags.js?id={{deviceSessionId}}80200"></iframe>
            </noscript>
        {% endif %}
        
        {{ encore_entry_script_tags('app') }}
    {% endblock %} 
    <div id="fb-root"></div>    
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=install_email
      page_id="109697087286952"
      theme_color="#13cf13"
        logged_in_greeting="Hola, &#xbf;como podemos ayudarte?"
        logged_out_greeting="Hola, &#xbf;como podemos ayudarte?">
    </div>
</body>    
</html>
